In [1]:
import pandas as pd

In [2]:
# Reading full Austin crime data from a csv file (dowloaded via API previously) 
df = pd.read_csv("../../Desktop/FullAustinCrimeReport.csv")
df.tail()

C:\Users\dunda\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,:@computed_region_8spj_utxs,:@computed_region_a3it_2a2z,:@computed_region_q9nd_rr82,:@computed_region_qwte_z96m,address,category_description,census_tract,clearance_date,clearance_status,...,pra,rep_date,rep_date_time,rep_time,sector,ucr_category,ucr_code,x_coordinate,y_coordinate,zip_code
2149995,2149995,9.0,2856.0,10.0,NaN,600 W 6TH ST,NaN,11.00,2003-02-12T00:00:00.000,C,...,373,2003-02-07T00:00:00.000,2003-02-07T02:22:00.000,222,GE,NaN,2100,3112482.0,3112482.0,78701.0
2149996,2149996,1.0,2857.0,8.0,566.0,1161 HARVEY ST,NaN,8.02,2003-02-11T00:00:00.000,C,...,415,2003-02-07T00:00:00.000,2003-02-07T02:21:00.000,221,CH,NaN,2100,3127032.0,3127032.0,78702.0
2149997,2149997,9.0,2860.0,10.0,952.0,2212 SAN GABRIEL ST,NaN,6.04,NaN,N,...,358,2003-02-07T00:00:00.000,2003-02-07T02:19:00.000,219,BA,NaN,2300,3112358.0,3112358.0,78705.0
2149998,2149998,9.0,2860.0,10.0,952.0,2212 SAN GABRIEL ST,NaN,6.04,2003-02-08T00:00:00.000,C,...,358,2003-02-07T00:00:00.000,2003-02-07T02:19:00.000,219,BA,NaN,900,3112358.0,3112358.0,78705.0
2149999,2149999,4.0,3642.0,9.0,3851.0,9400 N LAMAR BLVD,NaN,18.19,2003-02-07T00:00:00.000,C,...,238,2003-02-07T00:00:00.000,2003-02-07T02:16:00.000,216,ED,NaN,2100,3127950.0,3127950.0,78758.0

In [3]:
df.columns

Index(['Unnamed: 0', ':@computed_region_8spj_utxs',
       ':@computed_region_a3it_2a2z', ':@computed_region_q9nd_rr82',
       ':@computed_region_qwte_z96m', 'address', 'category_description',
       'census_tract', 'clearance_date', 'clearance_status',
       'council_district', 'crime_type', 'district', 'family_violence',
       'incident_report_number', 'latitude', 'location', 'location_type',
       'longitude', 'occ_date', 'occ_date_time', 'occ_time', 'pra', 'rep_date',
       'rep_date_time', 'rep_time', 'sector', 'ucr_category', 'ucr_code',
       'x_coordinate', 'y_coordinate', 'zip_code'],
      dtype='object')

In [4]:
# This first data frame will contain occurance date and time info for crimes. 
# We'll use the year, month,day and time info in our analysis.

occ_date_df = df.drop(['Unnamed: 0', ':@computed_region_8spj_utxs',
                       ':@computed_region_a3it_2a2z', ':@computed_region_q9nd_rr82',
                       ':@computed_region_qwte_z96m', 'address', 'category_description',
                       'census_tract', 'clearance_date', 'clearance_status',
                       'council_district', 'crime_type', 'district', 'family_violence',
                       'incident_report_number', 'latitude', 'location', 'location_type',
                       'longitude', 'occ_date_time', 'pra', 'rep_date',
                       'rep_date_time', 'rep_time', 'sector', 'ucr_category', 'ucr_code',
                       'x_coordinate', 'y_coordinate', 'zip_code'], axis=1)

In [5]:
# This step runs ~ for 3 minutes.
# We're extracting the year, month and day to seperate columns as we'll use them in our analysis.

year_list = []
month_list = []
day_list = []

for index,row in occ_date_df.iterrows():
    occurance_date = row["occ_date"].split(sep="T")
    date = occurance_date[0].split(sep="-")
    year_list.append(date[0])
    month_list.append(date[1])
    day_list.append(date[2])
dictionary = {"occ_year": year_list,
              "occ_month": month_list,
              "occ_day": day_list}
addition_df = pd.DataFrame(dictionary)

In [6]:
occ_date_df = occ_date_df.reset_index()
addition_df = addition_df.reset_index()
occ_date_df = pd.merge(occ_date_df,addition_df,how="left",on="index")
occ_date_df = occ_date_df.drop(["occ_date",'index'],axis=1)

In [7]:
occ_date_df.to_csv("../../Desktop/FullAustinCrime_occ_year_month_day_Report.csv", header=True, index=False)

In [8]:
# Deleting the columns that are either not necessary or contained in other columns (Ex: (1) rep_time and rep_date 
# are already available in rep_data_time which is kept. Ex: (2) Info given in location column is already available 
# in latitude and longitude columns)

short_df = df.drop(['census_tract', 'latitude', 'longitude', 'ucr_code',
                    'Unnamed: 0',':@computed_region_8spj_utxs', ':@computed_region_a3it_2a2z',
                    ':@computed_region_q9nd_rr82', ':@computed_region_qwte_z96m', 'x_coordinate', 
                    'y_coordinate','category_description','incident_report_number','occ_date',
                    'rep_date','rep_time','address', 'location','ucr_category','sector','pra','district'],axis=1)
short_df.tail()

,clearance_date,clearance_status,council_district,crime_type,family_violence,location_type,occ_date_time,occ_time,rep_date_time,zip_code
2149995,2003-02-12T00:00:00.000,C,9.0,DWI,N,STREETS / HWY / ROAD / ALLEY,2003-02-07T02:22:00.000,222,2003-02-07T02:22:00.000,78701.0
2149996,2003-02-11T00:00:00.000,C,1.0,DWI,N,STREETS / HWY / ROAD / ALLEY,2003-02-07T02:21:00.000,221,2003-02-07T02:21:00.000,78702.0
2149997,NaN,N,9.0,PUBLIC INTOXICATION,N,PARKING LOTS / GARAGE,2003-02-07T02:19:00.000,219,2003-02-07T02:19:00.000,78705.0
2149998,2003-02-08T00:00:00.000,C,9.0,ASSAULT W/INJURY-FAM/DATE VIOL,N,PARKING LOTS / GARAGE,2003-02-07T02:19:00.000,219,2003-02-07T02:19:00.000,78705.0
2149999,2003-02-07T00:00:00.000,C,4.0,DWI,N,STREETS / HWY / ROAD / ALLEY,2003-02-07T02:16:00.000,216,2003-02-07T02:16:00.000,78758.0

In [9]:
# Dropping the data that contains at least one "NaN".

clean_short_df = short_df.dropna()
clean_short_df.tail()

,clearance_date,clearance_status,council_district,crime_type,family_violence,location_type,occ_date_time,occ_time,rep_date_time,zip_code
2149994,2003-05-12T00:00:00.000,N,1.0,WARRANT ARREST NON TRAFFIC,N,STREETS / HWY / ROAD / ALLEY,2003-02-07T02:24:00.000,224,2003-02-07T02:24:00.000,78721.0
2149995,2003-02-12T00:00:00.000,C,9.0,DWI,N,STREETS / HWY / ROAD / ALLEY,2003-02-07T02:22:00.000,222,2003-02-07T02:22:00.000,78701.0
2149996,2003-02-11T00:00:00.000,C,1.0,DWI,N,STREETS / HWY / ROAD / ALLEY,2003-02-07T02:21:00.000,221,2003-02-07T02:21:00.000,78702.0
2149998,2003-02-08T00:00:00.000,C,9.0,ASSAULT W/INJURY-FAM/DATE VIOL,N,PARKING LOTS / GARAGE,2003-02-07T02:19:00.000,219,2003-02-07T02:19:00.000,78705.0
2149999,2003-02-07T00:00:00.000,C,4.0,DWI,N,STREETS / HWY / ROAD / ALLEY,2003-02-07T02:16:00.000,216,2003-02-07T02:16:00.000,78758.0

In [10]:
clean_short_df.count()

clearance_date      1498022
clearance_status    1498022
council_district    1498022
crime_type          1498022
family_violence     1498022
location_type       1498022
occ_date_time       1498022
occ_time            1498022
rep_date_time       1498022
zip_code            1498022
dtype: int64

In [11]:
# Resetting the index and dropping the former index column 
clean_short_df = clean_short_df.reset_index()
clean_short_df = clean_short_df.drop(["index"],axis=1)
clean_short_df.tail()

,clearance_date,clearance_status,council_district,crime_type,family_violence,location_type,occ_date_time,occ_time,rep_date_time,zip_code
1498017,2003-05-12T00:00:00.000,N,1.0,WARRANT ARREST NON TRAFFIC,N,STREETS / HWY / ROAD / ALLEY,2003-02-07T02:24:00.000,224,2003-02-07T02:24:00.000,78721.0
1498018,2003-02-12T00:00:00.000,C,9.0,DWI,N,STREETS / HWY / ROAD / ALLEY,2003-02-07T02:22:00.000,222,2003-02-07T02:22:00.000,78701.0
1498019,2003-02-11T00:00:00.000,C,1.0,DWI,N,STREETS / HWY / ROAD / ALLEY,2003-02-07T02:21:00.000,221,2003-02-07T02:21:00.000,78702.0
1498020,2003-02-08T00:00:00.000,C,9.0,ASSAULT W/INJURY-FAM/DATE VIOL,N,PARKING LOTS / GARAGE,2003-02-07T02:19:00.000,219,2003-02-07T02:19:00.000,78705.0
1498021,2003-02-07T00:00:00.000,C,4.0,DWI,N,STREETS / HWY / ROAD / ALLEY,2003-02-07T02:16:00.000,216,2003-02-07T02:16:00.000,78758.0

In [12]:
# This step runs ~ for 3 minutes.
# We're extracting the year, month and day to seperate columns as we'll use them in our analysis.

year_list = []
month_list = []
day_list = []

for index,row in clean_short_df.iterrows():
    occ_date_time = row["occ_date_time"].split(sep="T")
    occ_date = occ_date_time[0].split(sep="-")
    year_list.append(occ_date[0])
    month_list.append(occ_date[1])
    day_list.append(occ_date[2])
dictionary = {"occ_year": year_list,
              "occ_month": month_list,
              "occ_day": day_list}
addition_df = pd.DataFrame(dictionary)

In [13]:
clean_short_df = clean_short_df.reset_index()
addition_df = addition_df.reset_index()
clean_short_df = pd.merge(clean_short_df,addition_df,how="left",on="index")

In [14]:
clean_short_df = clean_short_df.drop(['index', 'occ_date_time'],axis=1)
clean_short_df.columns

Index(['clearance_date', 'clearance_status', 'council_district', 'crime_type',
       'family_violence', 'location_type', 'occ_time', 'rep_date_time',
       'zip_code', 'occ_year', 'occ_month', 'occ_day'],
      dtype='object')

In [17]:
# This data frame will contain coordinates of each crime. 

coordinates_df = df.drop(['Unnamed: 0', ':@computed_region_8spj_utxs',':@computed_region_a3it_2a2z', 
                          ':@computed_region_q9nd_rr82', ':@computed_region_qwte_z96m', 'address', 'category_description',
                          'census_tract', 'clearance_date', 'clearance_status',
                          'crime_type', 'district', 'family_violence',
                          'incident_report_number', 'location', 'location_type',
                          'occ_date', 'occ_date_time', 'occ_time', 'pra', 'rep_date',
                          'rep_date_time', 'rep_time', 'sector', 'ucr_category', 'ucr_code',
                          'x_coordinate', 'y_coordinate', 'council_district'], axis=1)
coordinates_df = coordinates_df.dropna()
coordinates_df.to_csv("../../Desktop/FullAustinCrime_coordinates_Report.csv", header=True, index=False)